body {
    font-family: Arial;
}

* {
    box-sizing: border-box;
}


.tex {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

.ton {
    float: left;
    width: 40px;
    height: 40px;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.margin2{
    margin: 20px
}

.marginCari{
    margin: 25px 5px 0 50px;
}